.timer-display {
    padding: 5% 7%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.timer-display span {
    font-size: 10vw;
}

.timer-controls {
    padding: 20px;
    text-align: center;
}

.timer-controls .timer-control {
    display: inline-block;
    padding: 0 20px;
}
